include AUTHORS
include LICENSE
include NOTICE
include README
include requirements.txt

recursive-include doc_src *.rst *.html *.css *.js *.png
recursive-include docs *.html *.css *.js *.png
recursive-include supertagging/static *.css *.js

recursive-include supertagging *.py
recursive-include supertagging/sql/ *.sql
recursive-include supertagging/templates/ *.html

prune example