{% load admin_list %}
{% load i18n %}
<p class="paginator">
{% if pagination_required %}
{% for i in page_range %}
    {% paginator_number cl i %}
{% endfor %}
{% endif %}
{{ cl.result_count }} {% ifequal cl.result_count 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endifequal %}
{% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}
{% if cl.formset and cl.result_count %}&nbsp;<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>&nbsp;{% endif %}
{% if cl.formset %}
<input type="hidden" name="_content_type" value="{{ cl.result_list.0.content_type.id }}" id="_content_type"><input type="hidden" name="_object_id" value="{{ cl.result_list.0.object_id }}" id="_object_id">
&nbsp;<input type="submit" style="margin-right: 1em" onclick="$.loading(true, {mask:true, text:'Loading tags...'});" name="_update_tags" class="default" value="{% trans 'Update Tags' %}"/>&nbsp;{% endif %}
</p>
